body {
    height: 100%;
    background-image: url(youla.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-top: 8%;
    margin-bottom: 3%;
}

.shortcut {
    margin-top: 3%;
    margin-left: 5%;
}
